body{
    background-color: rgb(243, 243, 243);
    font-family: 'Josefin Sans', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*inizio header*/
.header{
    height: 90px;
    padding: 20px 15px;
    background-color: white;
}

h1{
    display: inline;
    font-size: 45px;
    vertical-align: 10px;
   
}
/*fine header*/
    
/*inizio pulsanti-top*/
.pulsanti-top{
    width: 65%;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 10px;
    padding: 10px 10px;
    background-color: white;
    padding-left: 30px;
}
.Add-task{
    background-color: rgb(6, 185, 240);
    border: 0px;
    border-radius: 5px;
    display: inline-block;
    padding: 6px;
    color: white;
}
    
.Add-section{
    background-color:white;
    border: 1px solid grey;
    border-radius:5px;
    color: grey;
    padding: 5px;
    
}
/*fine pulsanti-top*/

    
/*inizio pulsanti-bottom*/
.pulsanti-bottom{
    width: 65%;
    margin: 0 auto;
    background-color: white;
    margin-top: 3px;
    border-radius: 10px;
    padding-left: 30px;
    height: 650px;
    padding-top: 30px;
    font-size: 15px;
}
/*fine pulsanti-bottom*/  

ul{
    list-style-type: none;
}

li{
    padding: 10px 0px;
    font-size: 20px;
}

.cerchio{
border-radius: 100%;
padding: 0px 2px;

}

.verde{
    color: green;
    border: 1px solid green;
}

.rosso{
    color: red;
    border: 1px solid red;
}

.button-blue{
    border-radius: 30px;
    background-color:rgb(6, 185, 240);
    color: white; 
    padding: 5px 10px;
    font-size: 15px;
    
}

.button-purple{
    border-radius: 30px;
    background-color:purple;
    color: white; 
    padding: 5px 10px;
    font-size: 15px;
}

.button-green-cross{
    border-radius: 30px;
    background-color: rgb(12, 184, 126);
    color: white; 
    padding: 5px 10px;
    font-size: 15px;
}

.button-orange{
    border-radius: 30px;
    background-color: orange;
    color: white; 
    padding: 5px 10px;
    font-size: 15px;
}

.button-magenta{
    border-radius: 30px;
    background-color:rgba(255, 0, 255, 0.733);
    color: white; 
    padding: 5px 10px;
    font-size: 15px;
}

.button-green-check{
    border-radius: 30px;
    background-color:rgb(28, 238, 28);
    color: white; 
    padding: 5px 10px;
    font-size: 15px;
}










