body{
    background-color: rgb(243, 243, 243);
    font-family: 'Josefin Sans', sans-serif;
}



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
    
/*inizio header*/
.header{
    height: 90px;
    padding: 20px 15px;
    background-color: white;
}

h1{
    display: inline;
    font-size: 45px;
    vertical-align: 10px;
   
}
/*fine header*/
    
/*inizio pulsanti-top*/
.pulsanti-top{
    width: 65%;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 10px;
    padding: 10px 10px;
    background-color: white;
    padding-left: 30px;
}
/*fine pulsanti-top*/

.pulsanti-bottom{
    width: 65%;
    margin: 0 auto;
    background-color: white;
    margin-top: 3px;
    border-radius: 10px;
    padding-left: 30px;
    height: 650px;
    padding-top: 30px;
    font-size: 15px;
}
    
ul{
    list-style-type: none;
}

li{
    padding: 10px 0px;
    font-size: 20px;
}

.cerchio{
border-radius: 100%;
padding: 0px 2px;

}

.verde{
    color: green;
    border: 1px solid green;
}

.rosso{
    color: red;
    border: 1px solid red;
}



.blue{
    background-color: rgb(6, 185, 240);
    border: 0px;
    border-radius: 5px;
    display: inline-block;
    padding: 6px;
    color: white;
}
    
.white{
    background-color:white;
    border: 1px solid grey;
    border-radius:5px;
    color: grey;
    padding: 5px;
    
}









